POSTGRES_DB=kittygram_db
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=your_postgres_password_here
DB_NAME=kittygram_db
DB_USER=kittygram_user
DB_PASSWORD=your_postgres_password_here
DB_HOST=db
DB_PORT=5432
SECRET_KEY=your_secret_key_here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,kittygram.site,www.kittygram.site